<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733262114956-mgl3dso1k4j5bpqi91huhgio8vslu3ib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733262114956-mgl3dso1k4j5bpqi91huhgio8vslu3ib</string>
	<key>API_KEY</key>
	<string>AIzaSyB1fCI9OUvcvIQk9RnkEZNaQiwMRFbp1QM</string>
	<key>GCM_SENDER_ID</key>
	<string>733262114956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vadymdordiienko.wallpapers</string>
	<key>PROJECT_ID</key>
	<string>wallpapers-app-1aedf</string>
	<key>STORAGE_BUCKET</key>
	<string>wallpapers-app-1aedf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733262114956:ios:e41b0ab99c0e4254b90ba9</string>
</dict>
</plist>